<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
    <title>Dashboard</title>
</head>

<body>
    <h2>Welcome {{ User }}</h2>
    
    {% if msg %}
        <p class="Message">Message : {{ msg }}</p>
    {% endif %}

    <div class="Container">

        <div class="ChoiceEntry">
            <button class="ChoiceButton">Guest</button>
            <div class="ChoiceContent">
                <a href="/v1/guest/show">Show</a>
                <a href="/v1/guest/new">New</a>
            </div>
        </div>

        <div class="ChoiceEntry">
            <button class="ChoiceButton">Reservation</button>
            <div class="ChoiceContent">
                <a href="/v1/reservation/show">Show</a>
                <a href="/v1/reservation/new">New</a>
            </div>
        </div>

    </div>

    <div class="View">
        <div class="Data">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>